header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 3rem;
	margin-bottom: 1rem;
	background: #cf32ff;
	background: -moz-linear-gradient(45deg, #cf32ff 0%, #80a9ed 100%);
	background: -webkit-linear-gradient(45deg, #cf32ff 0%, #80a9ed 100%);
	background: linear-gradient(45deg, #cf32ff 0%, #80a9ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf32ff', endColorstr='#80a9ed',GradientType=1 );
	position: relative;

	.logoBlock {
		display: flex;
		align-items: center;
		cursor: pointer;

		.ico {
			width: 3rem;
			height: 3rem;
			margin-right: 1rem;
		}
		.title {
			color: #000;
		}
	}

	.cartBlock {
		position: relative;
		cursor: pointer;
		.ico {
			width: 3rem;
			height: 3rem;
		}
		span {
			position: absolute;
			top: 0;
			right: -20%;
			width: 1.5rem;
			height: 1.5rem;
			text-align: center;
			font-size: 1.1rem;
			border-radius: 50%;
			line-height: 1.5rem;
			color: rgb(0, 0, 0);
			background-color: rgb(162, 162, 162);
			transition: background-color 0.3s ease-in, color 0.3s ease-in;
		}
		span.notEmpty {
			background-color: rgb(205, 1, 1);
			color: #fff;
		}
	}
}
