.btn {
	cursor: pointer;
	font-weight: 700;
	font-size: 1rem;
	border: 1px solid rgb(89, 89, 89);
	border-radius: 0.5rem;
	padding: 0.4rem 2rem;
	background: #9a70d6;
	transition: background 0.2s ease-in, color 0.2s ease-in;

	&:hover {
		background: rgb(90, 15, 113);
		color: aliceblue;
	}
	&:disabled {
		background: rgb(130, 130, 130);
		color: aliceblue;
		cursor: no-drop;
	}
}
